# Astro build output
dist/
# Astro generated types
.astro/

# Dependencies
node_modules/

# Logs
npm-debug.log*

# Environment variables
.env
.env.production

# Ignore macOS system files
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
.idea/
